---
title: Avid Online
---
%p Web Development with Magento, Ruby, and HTML/CSS/JS
.welcome
  = link_to 'http://danelowe.name/', 'http://danelowe.name/', class: :blog
  = link_to 'https://github.com/danelowe/', 'http://github.com/danelowe/', class: :github
  %span.e support
